{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react",
      "@babel/preset-typescript",
      "react-app"
    ],
    "env": {
      "test": {
        "plugins": [
          "transform-modules-commonjs"
        ]
      }
    }
  }
  